{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mb-4">Benvenuto sul "Portale FIP"</h1>
            <p>Questo sito è fatto da me Marco Morini, per l'esame di Tecnologie Web dell'Università degli Studi di Modena e Reggio Emilia tenuto dalla professoressa Claudia Canali e Nicola Capodieci</p>
            <p>È stato creato puramente a scopo didattico per mettere in pratica gli insegnamenti forniti dai docenti del corso sopra citati durante le lezioni.</p>
            <p>Questo sito ha lo scopo di rendere disponibili a tutti i risultati delle partite dei campionati di più alta categoria italiani.</p>
            <p>Potrai scoprire i risultati di tutte le partite disputate e le statistiche dei giocatori durante la stagione.</p>
    </div>
</div>
{% endblock %}