{% extends 'base.html' %}

{% block title %}{{ calendario }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">Classifica</h2>
        {% if classifica %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for pos, team, point, win, loss in classifica %}
                    <tr>
                        <td>{{ pos }}</td>
                        <td><a href="{% url 'main:team-detail' team.id %}"
                               class="text-decoration-none">{{ team.name }}</a></td>
                        <td>{{ win }}</td>
                        <td>{{ loss }}</td>
                        <td>{{ point }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No registered teams yet</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No registered teams yet</p>
        {% endif %}

        {% for giornata in calendario.giornate.all %}
            {% if giornata.partite %}
                <h4 class="mt-5">{{ giornata.num }}° Giornata</h4>
                <ul class="list-group">
                    {% for partita in giornata.partite.all %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col"><a
                                        href="{% url 'main:team-detail' partita.teamA.id %}"> {{ partita.teamA }}</a><br>
                                    {% if not partita.pointsA %}<a
                                            href="{% url 'main:create-tabellinoA' partita.id %}"> Inserisci
                                        Tabellino</a>{% endif %}
                                </div>
                                <div class="col text-center">{{ partita.pointsA }} - {{ partita.pointsB }}<br><a
                                        href="{% url 'main:match-detail' partita.id %}">Vedi dettagli</a></div>
                                <div class="col"><a
                                        href="{% url 'main:team-detail' partita.teamB.id %}"> {{ partita.teamB }}</a><br>
                                    {% if not partita.pointsB %}<a
                                            href="{% url 'main:create-tabellinoB' partita.id %}"> Inserisci
                                        Tabellino</a>{% endif %}
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <p>Nessuna partita registrata per questa giornata ancora.</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nessuna partita registrata per questa giornata ancora.</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}