{% extends 'base.html' %}
{% load static %}

{% block title %}Dettagli {{ team.name }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {% if squadra.img %}
                        <img src="{{ squadra.img.url }}" alt="{{ squadra.nome }}" class="card-img-top">
                    {% else %}
                        <img src="{% static 'img/product_image_not_available.png' %}" alt="{{ squadra.nome }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ squadra.name }}</h3>
                        <p class="card-text"><strong>Città:</strong> {{ squadra.city }}</p>
                        <p class="card-text"><strong>Sponsor:</strong> {{ squadra.main_sponsor }}</p>
                        <p class="card-text"><strong>Campionato:</strong><a href="{% url 'main:detail-calendario' squadra.championships.calendario.id %}"> {{ squadra.championships }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="mb-4">Giocatori:</h3>
                {% if squadra.players.count > 0 %}
                    <ul class="list-group">
                        {% for giocatore in squadra.players.all %}
                            <li class="list-group-item"><a href="{% url 'main:player-detail' giocatore.id %}">{{ giocatore }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">Nessun giocatore registrato per questa squadra</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
