{% extends 'base.html' %}
{% load static %}

{% block title %}{{ giocatore }}{% endblock %}

{% block styles %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            {% if giocatore.profile_img %}
                                <img src="{{ giocatore.profile_img.url }}" alt="Profilo"
                                     class="img-fluid rounded-circle w-50">
                            {% else %}
                                <img src="{% static 'img/no-profile-picture-icon-1.jpg' %}" alt="Profilo"
                                     class="img-fluid rounded-circle w-50">
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ giocatore.name }} {{ giocatore.last_name }}</h2>
                        <p class="card-text text-center"><strong>Ruolo:</strong> {{ giocatore.role }}</p>
                        <p class="card-text text-center"><strong>Data di nascita:</strong> {{ giocatore.birth_date }}
                        </p>
                        <p class="card-text text-center"><strong>Numero di maglia:</strong> {{ giocatore.number }}</p>
                        <p class="card-text text-center"><strong>Squadra:</strong><a
                                href="{% url 'main:team-detail' giocatore.team.pk %}"> {{ giocatore.team }}</a></p>
                    </div>
                </div>
            </div>

            <canvas id="statisticheGrafico"></canvas>


            <div class="card mt-auto">
                <div class="card-body">
                    <h3 class="card-title text-primary">Statistiche</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Partita</th>
                            <th scope="col">Punti</th>
                            <th scope="col">Rimbalzi</th>
                            <th scope="col">Assist</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partita in partite %}
                            <tr>
                                {% if partita in partite_in_casa %}
                                    <td>
                                        <a href="{% url 'main:team-detail' partita.teamB.pk %}"> {{ partita.teamB.name }}</a>[{{ partita.pointsA }}-{{ partita.pointsB }}]
                                    </td>
                                    {% if partita in partite_in_casa_giocate %}
                                        {% for stat in partita.tabellinoA.get_stats %}
                                            {% if giocatore == stat.player %}
                                                {% if stat.points %}
                                                    <td>{{ stat.points }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                                {% if stat.rebounds %}
                                                    <td>{{ stat.rebounds }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                                {% if stat.blocks %}
                                                    <td>{{ stat.blocks }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    {% endif %}
                                {% else %}
                                    <td>
                                        <a href="{% url 'main:match-detail' partita.pk %}"> {{ partita.teamA.name }}</a>[{{ partita.pointsA }}-{{ partita.pointsB }}]
                                    </td>
                                    {% if partita in partite_in_trasferta_giocate %}
                                        {% for stat in partita.tabellinoB.get_stats %}
                                            {% if giocatore == stat.player %}
                                                {% if stat.points %}
                                                    <td>{{ stat.points }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                                {% if stat.rebounds %}
                                                    <td>{{ stat.rebounds }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                                {% if stat.blocks %}
                                                    <td>{{ stat.blocks }}</td>
                                                {% else %}
                                                    <td>0</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">Nessuna partita registrata.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if partite %}
                        <div class="text-center">
                            <p class="card-text"><strong>Media punti:</strong> {{ media_punti }}</p>
                            <p class="card-text"><strong>Media rimbalzi:</strong> {{ media_rimbalzi }}</p>
                            <p class="card-text"><strong>Media assist:</strong> {{ media_assist }}</p>
                        </div>
                    {% else %}
                        <p class="card-text text-center">Nessuna partita registrata per calcolare le medie.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Raccolta dati delle statistiche dalla variabile 'partite'
        var puntiData = [];
        var rimbalziData = [];
        var assistData = [];
        var partiteLabels = [];

        {% for partita in partite %}
            {% if partita in partite_in_casa %}
                {% if partita in partite_in_casa_giocate %}
                    {% for stat in partita.tabellinoA.get_stats %}
                        {% if giocatore == stat.player %}
                            puntiData.push({{ stat.points }});
                            rimbalziData.push({{ stat.rebounds }});
                            assistData.push({{ stat.blocks }});
                            partiteLabels.push("{{ partita.teamB.name }}");
                        {% endif %}
                    {% endfor %}
                {% else %}
                    puntiData.push(0);
                    rimbalziData.push(0);
                    assistData.push(0);
                {% endif %}
            {% else %}
                {% if partita in partite_in_trasferta_giocate %}
                    {% for stat in partita.tabellinoB.get_stats %}
                        {% if giocatore == stat.player %}
                            puntiData.push({{ stat.points }});
                            rimbalziData.push({{ stat.rebounds }});
                            assistData.push({{ stat.blocks }});
                            partiteLabels.push("{{ partita.teamA.name }}");
                        {% endif %}
                    {% endfor %}
                {% else %}
                    puntiData.push(0);
                    rimbalziData.push(0);
                    assistData.push(0);
                {% endif %}
            {% endif %}
        {% endfor %}

        // Configurazione grafico
        var ctx = document.getElementById('statisticheGrafico').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: partiteLabels,
                datasets: [{
                    label: 'Punti',
                    data: puntiData,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }, {
                    label: 'Rimbalzi',
                    data: rimbalziData,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: 'Assist',
                    data: assistData,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}