{% extends 'base.html' %}
{% load static %}

{% block title %}Home- FIP{% endblock %}

{% block styles %}
{% endblock %}




{% block content %}
<div>
    <img src="{% static '/img/logo_fip.png' %}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" height="500px" width="400px" loading="lazy">
    </div>
    <h1 class="display-4 fw-bold text-body-emphasis">Benvenuto nel portale FIP</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Scopri i risultati delle partite.</p>
{% comment %}      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" fdprocessedid="jnr8k">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="y7gnv">Secondary</button>
      </div>{% endcomment %}
    </div>
{% endblock %}