{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
<div>
    {% if benvenuto %}
        <h1 class="display-10 fw-bold">Ben tornato {{ benvenuto }}</h1>
    {% endif %}
    <img src="{% static '/img/logo_fip.png' %}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" height="500px" width="400px" loading="lazy">
    </div>
    <h1 class="display-4 fw-bold text-body-emphasis">Benvenuto nel portale FIP</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Scopri i risultati delle partite.</p>
    </div>
{% endblock %}