{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    <a class="display-6"
       href="{% url 'main:detail-calendario' partita.giornata.calendario.pk %}">{{ partita.giornata.calendario }}</a>
    <h2 class="display-4">{{ partita.teamA }}: {{ partita.pointsA }}</h2>
    <h2 class="display-6"> vs </h2>
    <h2 class="display-4">{{ partita.teamB }}: {{ partita.pointsB }}</h2>

    <h3 class="mt-4 display-8">{{ partita.teamA.name }}:</h3>
    {% if partita.tabellinoA %}
        <a href="{% url 'main:create-nuovo-tabellinoA' partita.id %}" class="btn btn-primary">Inserisci nuovo
            tabellino</a>
        {% if user.is_superuser %}
            <br><a href="{% url 'main:delete-tabellino' partita.tabellinoA.id %}" class="btn btn-outline-danger"
                   style="margin-top: 20px">Cancella
            tabellino</a>
        {% endif %}
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th class="h5">Giocatore</th>
                <th class="h5">Punti</th>
                <th class="h5">Rimbalzi</th>
                <th class="h5">Assists</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in statsA %}
                <tr>
                    {% if stat.player %}
                        <td><a href="{% url 'main:player-detail' stat.player.id %}"
                               class="text-decoration-none">{{ stat.player }}</a></td>
                        <td>{{ stat.points }}</td>
                        <td>{{ stat.rebounds }}</td>
                        <td>{{ stat.blocks }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="lead">Nessun tabellino disponibile per {{ partita.teamA }}.</p>
        <a href="{% url 'main:create-tabellinoA' partita.id %}" class="btn btn-primary">Inserisci tabellino</a>
    {% endif %}

    <h3 class="mt-4 display-8">{{ partita.teamB.name }}:</h3>
    {% if partita.tabellinoB %}
        <a href="{% url 'main:create-nuovo-tabellinoB' partita.id %}" class="btn btn-primary">Inserisci nuovo
            tabellino</a>
        {% if user.is_superuser %}
            <br><a href="{% url 'main:delete-tabellino' partita.tabellinoB.id %}" class="btn btn-outline-danger"
                   style="margin-top: 20px">Cancella
            tabellino</a>
        {% endif %}
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th class="h5">Giocatore</th>
                <th class="h5">Punti</th>
                <th class="h5">Rimbalzi</th>
                <th class="h5">Assists</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in statsB %}
                <tr>
                    {% if stat.player %}
                        <td><a href="{% url 'main:player-detail' stat.player.id %}"
                               class="text-decoration-none">{{ stat.player }}</a></td>
                        <td>{{ stat.points }}</td>
                        <td>{{ stat.rebounds }}</td>
                        <td>{{ stat.blocks }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="lead">Nessun tabellino disponibile per {{ partita.teamB }}.</p>
        <a href="{% url 'main:create-tabellinoB' partita.id %}" class="btn btn-primary">Inserisci tabellino</a>
    {% endif %}

    <h3 style="margin-top: 50px">Hai visto la partita?? Dicci cosa ne pensi!</h3>
    <form method="POST" action="{% url 'main:add-comment' partita.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="comment-content" class="form-label">Inserisci un commento</label>
            <textarea class="form-control" id="comment-content" name="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <div class="mt-4">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#commentSection"
                aria-expanded="false" aria-controls="commentSection" style="margin-top: 100px">
            Mostra Commenti
        </button>
        <div class="collapse mt-3" id="commentSection">
            <h3>Commenti:</h3>
            {% for comment in partita.commenti.all %}
                <div class="card mt-5">
                    <div class="card-body">
                        <p class="card-text fs-5" style="font-size: larger">{{ comment }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-end">
                        <div class="text-muted">Autore: {{ comment.created_by.username }}</div>
                        <div class="text-muted">Data: {{ comment.date }}</div>
                        <div>
                            <i class="fas fa-thumbs-up like" data-comment-id="{{ comment.id }}"></i>
                            <span>{{ comment.likes.count }}</span>
                        </div>
                        <div>
                            <i class="fas fa-thumbs-down dislike" data-comment-id="{{ comment.id }}"></i>
                            <span>{{ comment.dislikes.count }}</span>
                        </div>
                        {% if request.user.is_staff %}
                            <form method="POST" action="{% url 'main:delete-comment' comment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm position-absolute top-0 end-0">
                                    Elimina
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>Nessun commento disponibile.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.like').click(function () {
            var commentId = $(this).data('comment-id');
            $.ajax({
                url: '{% url 'main:like-comment' %}',
                type: 'POST',
                data: {
                    comment_id: commentId,
                    action: 'like'
                },
                success: function (response) {
                    if (response.authenticated === false) {
                        // Utente non autenticato, reindirizza alla pagina di login
                        window.location.href = "{% url 'main:login' %}?next=" + window.location.href;
                    } else {
                        // Aggiorna il numero di likes visualizzato
                        var likesCount = response.likes_count;
                        $('.like[data-comment-id="' + commentId + '"] + span').text(likesCount);
                    }
                }
            });
        });

        $('.dislike').click(function () {
            var commentId = $(this).data('comment-id');
            $.ajax({
                url: '{% url 'main:dislike-comment' %}',
                type: 'POST',
                data: {
                    comment_id: commentId,
                    action: 'dislike'
                },
                success: function (response) {
                    if (response.authenticated === false) {
                        // Utente non autenticato, reindirizza alla pagina di login
                        window.location.href = "{% url 'main:login' %}?next=" + window.location.href;
                    } else {
                        // Aggiorna il numero di dislikes visualizzato
                        var dislikesCount = response.dislikes_count;
                        $('.dislike[data-comment-id="' + commentId + '"] + span').text(dislikesCount);
                    }
                }
            });
        });
    });
</script>

{% endblock %}
