{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>
        p.no-results {
            text-align: center;
            color: #888;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Player Search</h1>
    <form method="POST" action="{% url 'main:player_search' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    {% if players %}
        <ul>
            {% for player in players %}
                <li>
                    <strong><a href="{% url 'main:player-detail' player.id %}"> {{ player }}</a></strong>
                    - {{ player.team.name }}
                </li>
            {% empty %}
                <li class="no-results">No players found.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-results">No players found.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
  const championshipField = document.getElementById('id_championship');
  const teamField = document.getElementById('id_team');

  championshipField.addEventListener('change', function() {
    const selectedChampionshipId = this.value;
    console.log(selectedChampionshipId)
    fetch(`/get_teams/?championship=${selectedChampionshipId}`)
      .then(response => response.json())
      .then(data => {
        teamField.innerHTML = '';

        const teams = data.teams;
        teams.forEach(team => {
          const option = document.createElement('option');
          option.value = team.id;
          option.textContent = team.name;
          teamField.appendChild(option);
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
</script>

{% endblock %}