{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Ricerca Giocatore</h1>
    <form method="POST" action="{% url 'main:player_search' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Cerca</button>
    </form>

    <h2>Giocatori Trovati</h2>

    {% if players %}
        <ul class="list-group align-items-center">
            {% for player in players %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong style="margin-right: 10px"><a
                                href="{% url 'main:player-detail' player.id %}">{{ player }}</a>-{{ player.team.name }}
                        </strong>
                        {% if request.user.is_staff %}
                            <div>
                                <a href="{% url 'main:update-player' player.id %}" class="btn btn-sm btn-warning">Modifica</a>
                                <a href="{% url 'main:delete-player' player.id %}" class="btn btn-sm btn-danger">Cancella</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item no-results">Nessun giocatore trovato.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-results">No players found.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        const championshipField = document.getElementById('id_championship');
        const teamField = document.getElementById('id_team');

        championshipField.addEventListener('change', function () {
            const selectedChampionshipId = this.value;
            console.log(selectedChampionshipId)
            fetch(`/get_teams/?championship=${selectedChampionshipId}`)
                .then(response => response.json())
                .then(data => {
                    teamField.innerHTML = '';

                    const teams = data.teams;
                    teams.forEach(team => {
                        const option = document.createElement('option');
                        option.value = team.id;
                        option.textContent = team.name;
                        teamField.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

{% endblock %}